docs/n8n-workflow.json
{
  "id": "botfucker-local-review-import-v1",
  "name": "BotFucker Local Review Import",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -840,
        0
      ]
    },
    {
      "parameters": {
        "notice": "Replace this placeholder with a Gmail, Microsoft, or IMAP fetch node inside n8n. Keep mailbox access inside n8n. Pass only bounded message metadata to the next node."
      },
      "id": "fetch-provider-mail-placeholder",
      "name": "Fetch Provider Mail Placeholder",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -600,
        0
      ],
      "notes": "Swap for Gmail/Microsoft/IMAP. Do not pass raw headers or mailbox access material downstream."
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\nconst messages = rows.map((item, index) => {\n  const msg = item.json || {};\n  const from = msg.from || msg.sender || {};\n  const fromEmail = typeof from === 'string' ? from : (from.email || from.address || msg.from_email || msg.sender_email || 'unknown@example.invalid');\n  const fromName = typeof from === 'string' ? '' : (from.name || from.displayName || msg.from_name || msg.sender_name || '');\n  return {\n    id: String(msg.id || msg.messageId || msg.message_id || `n8n-local-${index}`),\n    threadId: String(msg.threadId || msg.thread_id || msg.conversationId || msg.conversation_id || ''),\n    from: {\n      email: String(fromEmail),\n      name: String(fromName)\n    },\n    subject: String(msg.subject || ''),\n    snippet: String(msg.snippet || msg.preview || msg.bodyPreview || msg.text || '').slice(0, 1200),\n    receivedAt: String(msg.receivedAt || msg.received_at || msg.date || msg.timestamp || new Date().toISOString()),\n    provider: String(msg.provider || 'n8n'),\n    source: {\n      workflow: 'botfucker-local-review-import',\n      node: 'Normalize BotFucker Payload'\n    }\n  };\n});\nreturn [{ json: { messages } }];"
      },
      "id": "normalize-botfucker-payload",
      "name": "Normalize BotFucker Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -360,
        0
      ],
      "notes": "Emits BotFucker webhook-contract JSON only: id, threadId, from, subject, snippet, receivedAt, provider, source."
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "binaryPropertyName": "data",
        "options": {
          "fileName": "n8n-messages.json",
          "format": true
        }
      },
      "id": "convert-normalized-json-to-file",
      "name": "Convert Normalized JSON To File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -120,
        0
      ],
      "notes": "Converts the normalized JSON item into binary field data so Read/Write Files can write a real JSON file."
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $env.BOTFUCKER_N8N_MESSAGES || '/home/node/.n8n-files/n8n-messages.json' }}",
        "dataPropertyName": "data",
        "options": {}
      },
      "id": "write-n8n-messages-json",
      "name": "Write n8n-messages.json",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        120,
        0
      ],
      "notes": "Writes the binary JSON file generated by Convert Normalized JSON To File."
    },
    {
      "parameters": {
        "command": "cd \"${BOTFUCKER_REPO:-/path/to/BotFucker}\" && python3 -m botfucker.review_cli --db \"${BOTFUCKER_REVIEW_DB:-botfucker_review.sqlite3}\" import-webhook-json \"${BOTFUCKER_N8N_MESSAGES:-/home/node/.n8n-files/n8n-messages.json}\""
      },
      "id": "import-into-local-review-queue",
      "name": "Import Into Local Review Queue",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        360,
        0
      ],
      "notes": "Local import only. No live provider side effects. Review in BotFucker UI at 127.0.0.1:8765."
    },
    {
      "parameters": {
        "content": "Provider boundary notes:\n- n8n fetches mail.\n- BotFucker imports bounded JSON into local SQLite.\n- No send/move/delete/archive/provider-list changes happen here.\n- Run the UI separately: python3 -m botfucker.local_ui --db botfucker_review.sqlite3",
        "height": 260,
        "width": 360
      },
      "id": "safety-boundary-notes",
      "name": "Safety Boundary Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -360,
        -360
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch Provider Mail Placeholder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Provider Mail Placeholder": {
      "main": [
        [
          {
            "node": "Normalize BotFucker Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize BotFucker Payload": {
      "main": [
        [
          {
            "node": "Convert Normalized JSON To File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write n8n-messages.json": {
      "main": [
        [
          {
            "node": "Import Into Local Review Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Normalized JSON To File": {
      "main": [
        [
          {
            "node": "Write n8n-messages.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "staticData": null,
  "tags": [
    {
      "name": "botfucker"
    },
    {
      "name": "local-review"
    }
  ],
  "active": false,
  "versionId": "botfucker-local-review-import-v1"
}
